@mixin avatar-color {
  &[data-avatar-id='0'] {
    color: var(--color-accent-900);
    background: var(--color-accent-500);
  }

  &[data-avatar-id='1'] {
    color: var(--color-accent-2-900);
    background: var(--color-accent-2-500);
  }

  &[data-avatar-id='2'] {
    color: var(--color-neutral-900);
    background: var(--color-neutral-500);
  }

  &[data-avatar-id='3'] {
    color: var(--color-danger-100);
    background: var(--color-danger-600);
  }

  &[data-avatar-id='4'] {
    color: var(--color-neutral-200);
    background: var(--color-accent-900);
  }
}

@mixin stack($gap: var(--space-3)) {
  display: grid;
  gap: $gap;
}

@mixin two-column-grid($gap: var(--space-3)) {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: $gap;
}
